<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>NinjaTooken : {{ status_code }} {{ status_text }}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('touch-icon-iphone.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('touch-icon-ipad.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('touch-icon-iphone-retina.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('touch-icon-ipad-retina.png') }}" />
        <meta name="msapplication-TileImage" content="{{ asset('windows8.png') }}"/>
        <meta name="msapplication-TileColor" content="#ff3b00"/>
    </head>
    <body>
        <div class="top">
            <div class="container">
                <section class="row-fluid">
                    <div class="span12 flagSocial clearfix">
                        {% for locale in ['fr', 'en'] %}
                        <a href="{{ path('ninja_tooken_homepage', {'_locale' : app.request.locale}) }}" class="{{ locale }}{% if locale == app.request.locale %} active{% endif %}"></a>
                        {% endfor %}
                        <a href="https://www.facebook.com/NinjaTooken" target="_blank" class="facebook"></a>
                        <a href="http://fr.twitch.tv/ninjatooken" target="_blank" class="twitch"></a>
                        {#<a href="http://www.youtube.com/user/ArbitreNT" target="_blank" class="youtube"></a>#}
                        {#<a href="http://society6.com/NinjaTooken/" target="_blank" class="society6"></a>#}
                    </div>
                </section>
            </div>
        </div>

        <div class="banniere">
            <div class="container">
                <header class="row-fluid">
                    <div class="span4">
                        <a href="{{ path('ninja_tooken_homepage', {'_locale' : 'fr'}) }}" rel="home"><img src="{{ asset('images/logo.png') }}"></a>
                    </div>
                    <nav class="span8" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                        <a class="visible-phone" id="menuMobile" href="#">{{ 'menu.menu'|trans({}, 'menu') }}</a>
                        <ul class="hidden-phone menu">
                            <li class="hidden-phone">
                                <a href="{{ path('ninja_tooken_jouer', {'_locale' : app.request.locale}) }}" class="play">{{ 'menu.jouer'|trans({}, 'menu') }}</a>
                            </li>
                            <li>
                                <a>{{ 'menu.jeu'|trans({}, 'menu') }}</a>
                                <ul>
                                    <li><a href="{{ path('ninja_tooken_game_classement', {'_locale' : app.request.locale}) }}">{{ 'menu.classement'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_game_parties', {'_locale' : app.request.locale}) }}">{{ 'menu.partie'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_event', {'_locale' : app.request.locale}) }}">{{ 'menu.evenement'|trans({}, 'menu') }}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>{{ 'menu.manuel'|trans({}, 'menu') }}</a>
                                <ul>
                                    <li><a href="{{ path('ninja_tooken_manuel', {'_locale' : app.request.locale}) }}">{{ 'menu.guide'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_game_calculateur', {'_locale' : app.request.locale}) }}">{{ 'menu.calculateur'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_reglement', {'_locale' : app.request.locale}) }}">{{ 'menu.regle'|trans({}, 'menu') }}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>{{ 'menu.communaute'|trans({}, 'menu') }}</a>
                                <ul>
                                    <li><a href="{{ path('ninja_tooken_forum', {'_locale' : app.request.locale}) }}">{{ 'menu.forum'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_clans', {'_locale' : app.request.locale}) }}">{{ 'menu.clan'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_chat', {'_locale' : app.request.locale}) }}">{{ 'menu.chat'|trans({}, 'menu') }}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>{{ 'menu.faq'|trans({}, 'menu') }}</a>
                                <ul>
                                    <li><a href="{{ path('ninja_tooken_faq_generale', {'_locale' : app.request.locale}) }}">{{ 'menu.generale'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_faq_technique', {'_locale' : app.request.locale}) }}">{{ 'menu.technique'|trans({}, 'menu') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>

        <div class="breadcrumb">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <h2></h2>
                        <h1>&nbsp;</h1>
		    </div>
		</div>
	    </div>
	</div>

        <div class="content">
            <div class="container">
                <div class="row-fluid exception">
                    <div class="span6 code">{{ status_code }}</div>
                    <div class="span6">
                        <div class="status">{{ status_text }}</div>
                        <div class="flash-notice">{{ exception.message|nl2br|format_file_from_text }}</div>

                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="flash-notice">
                            {{ flashMessage }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <footer class="container">
                <ul>
                    <li><a href="{{ path('ninja_tooken_team', {'_locale' : app.request.locale}) }}">{{ 'menu.team'|trans({}, 'menu') }}</a></li>
                    <li><a href="{{ path('ninja_tooken_reglement', {'_locale' : app.request.locale}) }}">{{ 'menu.reglement'|trans({}, 'menu') }}</a></li>
                    <li><a href="{{ path('ninja_tooken_mentions_legales', {'_locale' : app.request.locale}) }}">{{ 'menu.mention'|trans({}, 'menu') }}</a></li>
                    <li><a href="{{ path('ninja_tooken_contact', {'_locale' : app.request.locale}) }}">{{ 'menu.contact'|trans({}, 'menu') }}</a></li>
                </ul>
            </footer>
        </div>

        <script>
            var _gaq=[['_setAccount','UA-2980301-2'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>