{# suppression de divs #}
{% block form_widget_compound %}
{% apply spaceless %}
	{% if form.parent is empty %}
	    {{ form_errors(form) }}
	{% endif %}
	{{ block('form_rows') }}
	{{ form_rest(form) }}
{% endapply %}
{% endblock form_widget_compound %}

{# ré-organisation boostrap #}
{% block form_row %}
    <div>
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{# wysiwyg tinymce #}
{% block textarea_widget %}
{% apply spaceless %}
    <div class="textarea" {{ block('widget_attributes') }}>{{ value|raw|purify('full') }}</div>
{% endapply %}
{% endblock textarea_widget %}