{# suppression de divs #}
{% block form_widget_compound %}
{% apply spaceless %}
	{% if form.parent is empty %}
	    {{ form_errors(form) }}
	{% endif %}
	{{ block('form_rows') }}
	{{ form_rest(form) }}
{% endapply %}
{% endblock form_widget_compound %}

{% block form_widget_simple %}
{% apply spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if type == "file" %}
        <a href="#" class="button mini">{{ 'action.choisir'|trans({}, 'common') }}</a>
    {% endif %}
{% endapply %}
{% endblock form_widget_simple %}

{# ré-organisation boostrap #}
{% block form_row %}
    <div class="row-fluid">
        <div class="span3 offset1">
        {{ form_label(form) }}
        </div>
        <div class="span8">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}

{# suppression de divs #}
{% block choice_widget_expanded %}
{% apply spaceless %}
    {% for child in form %}
	{{ form_widget(child) }}
	{{ form_label(child) }}
    {% endfor %}
{% endapply %}
{% endblock choice_widget_expanded %}

{# kamon #}
{% block choice_widget_collapsed %}
{% apply spaceless %}
    {% if id=='clan_kamon' %}
    <div class="kamon">
    {% for group_label, choice in choices %}
        <div{% if choice is selectedchoice(value) %} class="selected"{% endif %} data-val="{{ choice.value }}"><img src="{{ asset(choice.value) }}" class="clan" alt="{{ choice.label|trans({}, translation_domain) }}"></div>
    {% endfor %}
    <input type="hidden"{{ block('widget_attributes') }} value="{{ value }}">
    </div>
    {% else %}
    <label class="select">
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    </label>&nbsp;
    {% endif %}
{% endapply %}
{% endblock choice_widget_collapsed %}

{# wysiwyg tinymce #}
{% block textarea_widget %}
{% apply spaceless %}
    <div class="textarea" {{ block('widget_attributes') }}>{{ value|raw|purify('full') }}</div>
{% endapply %}
{% endblock textarea_widget %}

{# erreurs #}
{% block form_errors %}
{% apply spaceless %}
    {% if errors|length > 0 %}
    <div class="flash-notice"><ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul></div>
    {% endif %}
{% endapply %}
{% endblock form_errors %}